<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Cumque dolorem illum quisquam quas harum sunt ipsa ratione rerum veniam,
    rem optio ad exercitationem quibusdam saepe perspiciatis, debitis ducimus sit,</p>
<p>praesentium cupiditate error commodi! Asperiores optio fugit, autem, illo labore, aperiam deserunt corporis dolorum
    nulla ratione provident? Distinctio, ut? Atque excepturi pariatur nam.</p>
<p>Deserunt ut ab amet distinctio consequatur error nobis dolor.

    <p>Laborum praesentium quibusdam quia quod architecto, similique optio reiciendis nisi iusto suscipit beatae excepturi
    voluptas ut deserunt adipisci. Mollitia fugiat quis labore perferendis voluptates quam aut! Quaerat ab sit molestias
    quasi veniam est numquam ipsum blanditiis excepturi labore voluptatem adipisci, dolorum deserunt dignissimos enim
    aliquid, reiciendis odio vel mollitia voluptas nulla, et accusantium? Necessitatibus sit at illo obcaecati aperiam
    error placeat velit ad.</p><p> Atque, optio neque quas perspiciatis porro culpa excepturi deserunt placeat aliquam iste.
    Doloremque,
    illum impedit qui harum recusandae itaque laudantium magni quia eveniet,
    accusamus quae tempore?</p>

    App\Models\Post::create([
    'title'=>"judul tiga",
    'category_Id'=>3,
    'slug'=>'judul 3',
    'author'=>'rizal',
    'excerpt'=>"Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Cumque dolorem illum quisquam quas harum sunt ipsa ratione rerum veniam,
    rem optio ad exercitationem quibusdam saepe perspiciatis, debitis ducimus sit",
    'body'=>"<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Cumque dolorem illum quisquam quas harum sunt ipsa ratione rerum veniam,
        rem optio ad exercitationem quibusdam saepe perspiciatis, debitis ducimus sit,</p>
    <p>praesentium cupiditate error commodi! Asperiores optio fugit, autem, illo labore, aperiam deserunt corporis dolorum
        nulla ratione provident? Distinctio, ut? Atque excepturi pariatur nam.</p>
    <p>Deserunt ut ab amet distinctio consequatur error nobis dolor.
    
        <p>Laborum praesentium quibusdam quia quod architecto, similique optio reiciendis nisi iusto suscipit beatae excepturi
        voluptas ut deserunt adipisci. Mollitia fugiat quis labore perferendis voluptates quam aut! Quaerat ab sit molestias
        quasi veniam est numquam ipsum blanditiis excepturi labore voluptatem adipisci, dolorum deserunt dignissimos enim
        aliquid, reiciendis odio vel mollitia voluptas nulla, et accusantium? Necessitatibus sit at illo obcaecati aperiam
        error placeat velit ad.</p><p> Atque, optio neque quas perspiciatis porro culpa excepturi deserunt placeat aliquam iste.
        Doloremque,
        illum impedit qui harum recusandae itaque laudantium magni quia eveniet,
        accusamus quae tempore?</p>"])